<div class="widget schedule-graph-wrapper">
    <div class="schedule">
        <div class="scale">
            <div class="numbers flex-column">
                <span>40</span>
                <span>30</span>
                <span>20</span>
                <span>0</span>
            </div>
            <div class="info">
                <span>Mon</span>
                <span>Tues</span>
                <span>Wed</span>
                <span>Thu</span>
                <span>Fri</span>
                <span>Sat</span>
                <span>Sun</span>
            </div>
        </div>
        <div class="axis flex-column">
            <hr>
            <hr>
            <hr>
            <hr>
        </div>
        <div class="content">
            <div class="days">
                <div class="day" style="height: 48px"></div>
                <div class="rectangle"></div>
                <div class="upper-count">
                    <span>17</span>
                </div>
            </div>
            <div class="days">
                <div class="day" style="height: 60px"></div>
                <div class="upper-count hide">
                    <span></span>
                </div>
            </div>
            <div class="days">
                <div class="day" style="height: 122px"></div>
                <div class="upper-count hide">
                    <span></span>
                </div>
            </div>
            <div class="days">
                <div class="day" style="height: 160px"></div>
                <div class="upper-count hide">
                    <span></span>
                </div>
            </div>
            <div class="days">
                <div class="day" style="height: 129px"></div>
                <div class="upper-count hide">
                    <span></span>
                </div>
            </div>
            <div class="days">
                <div class="day" style="height: 170px"></div>
                <div class="upper-count">
                    <span>34</span>
                </div>
            </div>
            <div class="days">
                <div class="day" style="height: 140px"></div>
                <div class="upper-count hide">
                    <span></span>
                </div>
            </div>
        </div>
    </div>
</div>