<div class="widget inbox-wrapper">
    <header>
        <div class="avatar">
            <img src="img/avatar.png" alt="user-photo">
            <div class="dot"></div>
        </div>
        <span class="name clip">Diego Buchanan</span>
        <button class="rect flex-center"></button>
    </header>
    <button type="submit" class="form-submit">
        <span class="flex-center">compose</span>
    </button>
    <aside>
        <ul>
            <li>
                <a href="#">
                    <i class="icon-inbox"></i>
                    <span class="clip">Inbox</span>
                    <span class="count clip">3</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="icon-star"></i>
                    <span class="clip">Starred</span>
                    <span class="count clip hide"></span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="icon-mail"></i>
                    <span class="clip">Sent Mail</span>
                    <span class="count clip">12</span>
                </a>
            </li>
        </ul>
    </aside>
</div>