<div class="widget nav-wrapper">
    <nav>
        <li>
            <a href="#">
                <i class="icon-locate"></i>
                <span class="nav-info-wrapper">
                    <span class="clip">Location</span>
                </span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="icon-comment"></i>
                <span class="nav-info-wrapper">
                    <span class="clip">Comments</span>
                </span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="icon-eye"></i>
                <span class="nav-info-wrapper">
                    <span class="clip">Views</span>
                </span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="icon-like"></i>
                <span class="nav-info-wrapper">
                    <span class="clip">Likes</span>
                    <span class="likes-count">2</span>
                </span>
            </a>
        </li>
    </nav>
</div>