<div class="widget places-wrapper">
    <nav>
        <ul>
            <li>
                <a href="#">
                    <i class="icon-eye"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="icon-locate"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="icon-star"></i>
                </a>
            </li>
        </ul>
    </nav>
    <article class="content">
        <h1>My most favourite place in the world</h1>
        <div class="reviews clip">
            <span>154</span>Reviews
        </div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Maecenas a pulvinar ipsum. Aliquam sit amet iaculis dolor. Vivamus sed diam
            sollicitudin.
        </p>
        <a href="#" class="clip">Read more</a>
    </article>
    <figure class="place-info">
        <img src="img/sea.png" alt="sea">
        <div class="place-info-control">
            <div class="comments-likes">
                <i class="icon-comment"></i>
                <span class="clip">752</span>
            </div>
            <div class="comments-likes">
                <i class="icon-like"></i>
                <span class="clip">2709</span>
            </div>
        </div>
    </figure>
</div>