<div class="widget follow-wrapper">
    <figure>
        <div class="follow-avatar">
            <img src="img/avatar.png" alt="avatar">
            <div class="dot"></div>
        </div>
        <figcaption>
            <span class="name clip">Diego Buchanan</span>
            <div class="location">
                <img src="img/location-dark.png" alt="location">
                <span class="clip">London, UK</span>
            </div>
        </figcaption>
    </figure>
    <div class="follow-container">
        <div class="followers follow-info">
            <span class="count clip">348</span>
            <span class="clip">Followers</span>
        </div>
        <div class="following follow-info">
            <span class="count clip">16</span>
            <span class="clip">Following</span>
        </div>
    </div>
    <button type="submit" class="form-submit clip">follow</button>
</div>